<div class="flex items-center justify-center">
  <div class="container mt-16">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 items-center">
      <!-- Left Side Image (Hidden on mobile) -->
      <div class="hidden lg:block lg:col-span-1 text-center">
        <img
          src="assets/logo.svg"
          alt="Register Image"
          class="w-3/5 h-auto mx-auto"
        />
        <p class="text-black text-2xl font-medium">
          <span class="text-red-500 font-bold">Buletin</span> is a platform for
          <br />
          sharing stories and connecting
          <br />
          with other people.
        </p>
      </div>

      <!-- Right Side Register Form -->
      <div class="p-8 lg:col-span-2 w-full max-w-screen-md mx-auto mt-24">
        <h2 class="text-2xl font-bold mb-4 text-start">Login</h2>

        <!-- Sign Up Buttons -->
        <div class="flex space-x-5 items-center w-full mt-10">
          <button
            (click)="loginWithGoogle()"
            class="flex gap-4 text-base md:text-lg items-center justify-center p-4 border border-gray-400 hover:border-none rounded-2xl w-full duration-300 transition-all ease-in-out hover:bg-gray-900 hover:text-white"
          >
            <img
              src="../../../assets/Google__G__logo.svg.png"
              alt="Google Logo"
              class="w-6 h-6 md:w-8 md:h-8 object-cover"
            />
            Sign up<span class="hidden md:block">with &nbsp;Google </span>
          </button>
          <button
            class="flex gap-4 items-center text-base md:text-lg justify-center p-4 border border-gray-400 rounded-2xl w-full duration-300 transition-all ease-in-out hover:bg-gray-400 hover:border-none"
          >
            <img
              src="../../../assets/apple-logo-transparent.png"
              alt="Apple Logo"
              class="w-6 h-6 md:w-8 md:h-8 object-cover"
            />
            Sign up<span class="hidden md:block">with &nbsp;Apple</span>
          </button>
        </div>

        <!-- Centered 'or' Line -->
        <div class="flex items-center mt-14">
          <div class="w-full h-0.5 bg-gray-200"></div>
          <p class="mx-4 text-gray-600 font-bold">OR</p>
          <div class="w-full h-0.5 bg-gray-200"></div>
        </div>

        <!-- Reactive Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-8">
          <!-- Email -->
          <div class="mb-4 relative">
            <input
              id="email"
              formControlName="email"
              class="w-full px-4 py-4 border-b border-gray-700 outline-none focus:border-b-2 focus:border-red-600 duration-300 transition-all ease-out"
              type="email"
              placeholder="Email Address"
            />
            <div
              *ngIf="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              "
              class="text-red-500 text-xs absolute bottom-1 right-2"
            >
              Valid email is required.
            </div>
          </div>

          <!-- Password -->
          <div class="mb-4 relative">
            <input
              id="password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              class="w-full px-4 py-4 border-b border-gray-700 outline-none focus:border-b-2 focus:border-red-600 duration-300 transition-all ease-out"
              placeholder="Password"
            />
            <div
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
              class="text-red-500 text-xs absolute bottom-1 right-2"
            >
              Password is required (min 8 characters).
            </div>
            <!-- Eye icon to toggle password visibility -->
            <span
              class="absolute right-4 top-4 cursor-pointer"
              (click)="togglePasswordVisibility()"
            >
              <img
                [src]="
                  showPassword ? 'assets/eye-open.svg' : 'assets/eye-closed.svg'
                "
                alt="Toggle Password Visibility"
                class="w-5 h-5"
              />
            </span>
          </div>

          <!-- Submit Button -->
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="w-full bg-red-400 text-white py-5 rounded-2xl hover:bg-red-500 transition duration-300 ease-out cursor-pointer mt-6"
          >
            Login
          </button>
          <p class="mt-4 px-4">
            you don't have account?
            <a href="/register" class="text-red-500 font-medium">Sign-up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
