<div class="fixed top-0 w-full mx-auto">
  <div
    class="flex justify-between items-center bg-white border-gray-400 px-24 p-6"
  >
    <div class="flex items-center space-x-8">
      <a href="/blogs">
        <img src="assets/logo.svg" alt="logo" class="h-8 w-8" />
      </a>
      <p href="/blogs" class="text-red-500 text-2xl">Buletin</p>

      <!-- Line divider -->
      <div class="w-[2px] h-8 bg-gray-400"></div>

      <a
        href="#"
        class="font-medium text-gray-600 hover:font-bold duration-300 transition-all cursor-pointer ease-out"
        >Stories</a
      >
      <a
        href="#"
        class="font-medium text-gray-600 hover:font-bold duration-300 transition-all cursor-pointer ease-out"
        >Creator</a
      >
      <a
        href="#"
        class="font-medium text-gray-600 hover:font-bold duration-300 transition-all cursor-pointer ease-out"
        >Bookmark</a
      >
    </div>
    <div class="flex items-center space-x-8">
      <div
        class="flex items-center space-x-2 hover:text-gray-900 duration-300 transition-all cursor-pointer ease-out"
      >
        <img src="assets/write.svg" alt="Write Logo" class="w-5 h-5" />
        <h3 class="font-medium text-gray-700 text-base">Write</h3>
      </div>
      <div class="flex items-center space-x-8">
        <ng-container *ngIf="user; else signInLink">
          <div class="flex items-center space-x-2">
            <button
              (click)="userProfileModal.openModal()"
              class="border-2 border-gray-600 rounded-full"
            >
              <img
                [src]="user.photoURL || 'assets/blank-profile-picture-png.webp'"
                alt="User Avatar"
                class="rounded-full object-cover w-11 h-11"
              />
            </button>
          </div>
          <app-user-profile #userProfileModal [user]="user"></app-user-profile>
        </ng-container>
        <ng-template #signInLink>
          <a
            href="/login"
            class="font-medium text-base text-gray-600 hover:font-semibold transition-all duration-300 ease-out cursor-pointer"
          >
            sign-in
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
