<div
  class="fixed inset-0 flex items-center justify-center z-50 bg-gray-500 bg-opacity-30 backdrop-blur-sm"
>
  <div class="bg-white p-6 rounded-2xl max-w-lg w-full relative">
    <!-- Close button aligned to the top-right -->
    <button
      (click)="close()"
      class="absolute top-2 right-6 mt-2 p-2 border border-gray-600 rounded-full hover:border-2 hover:border-gray-800 hover:text-gray-800 text-gray-600 duration-300 transition-all ease-in"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </button>

    <h2 class="text-2xl font-bold mb-4">Blog Post</h2>
    <form>
      <label class="block mb-2">Title</label>
      <input
        type="text"
        class="border border-gray-500 outline-none p-3 w-full mb-4 rounded-lg"
        placeholder="Blog Title"
      />

      <label class="block mb-2">Article Story</label>
      <textarea
        class="border border-gray-500 outline-none p-3 w-full mb-4 rounded-lg"
        placeholder="Write your article"
      ></textarea>

      <label class="block mb-2">Upload Image</label>
      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        class="border border-gray-500 outline-none p-3 w-full mb-4 rounded-lg"
      />

      <!-- Preview image -->
      <img
        *ngIf="imagePreview"
        [src]="imagePreview"
        class="my-4 rounded-lg w-full h-48 object-cover"
        alt="Image Preview"
      />

      <button
        type="submit"
        class="border-2 border-red-500 hover:bg-red-600 duration-300 transition-all ease-out text-red-500 hover:text-white py-4 px-4 rounded-2xl w-full font-bold mt-2 text-base"
      >
        Publish Your Article
      </button>
    </form>
  </div>
</div>
