<div class="p-4 md:p-8 bg-gray-200 rounded-xl mx-4 md:mx-12 lg:mx-24">
  <h2
    class="font-thin text-gray-500 text-center text-xs sm:text-sm lg:text-base"
  >
    WELCOME TO BULETIN Blog
  </h2>
  <p
    class="text-gray-700 text-center mt-2 sm:mt-3 text-lg sm:text-xl md:text-2xl lg:text-3xl"
  >
    Craft narrative ✍🏻 that ignite
    <span class="text-red-500">
      inspiration 💡,
      <br class="hidden md:block" />
      Knowledge 📕,
    </span>
    and
    <span class="text-red-500">entertainment 🎬</span>
    &NonBreakingSpace; Blog
  </p>
</div>
